#myCanvas{
    margin:0 auto;
}

body{
    display: flex;
    justify-content: center;
}

#wrapper{
    position: relative;
}

#wrapper>div{
    border: 2px dotted #fff;
    position: absolute;
    top: 50px;
    /* width: 20%; */
    margin: 0 auto;
    text-align: center;
}